/* Oto Brglez - <otobrglez@gmail.com> */

@import url('http://fonts.googleapis.com/css?family=Anaheim');

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 20px;
  padding-top: 40px;
  font-family: 'Anaheim', sans-serif;
  font-weight: normal;
}

a {
  color: black;
  font-weight: bold;
}

.body-wrap {

}

.body-wrap .wrap{
  max-width: 600px;
  margin: 0px auto;
}

.brand {
  color: #000;
  font-weight: bold;
  border: 2px solid #000;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

#header{
  font-size: 1.5em;
}

#footer{
  margin-bottom: 50px;
}

.mission {
  color: #333;
  font-size: 2.5em;
}

.mission p{
}


.projects {
  font-size: 1.2em;
}

.projects h2 {
  font-size: 1.5em;
  display: inline-block;
  font-weight: normal;
  color: #ED146F;
  margin: 0px;
  padding: 0px;
}

.projects ul, .projects li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.projects ul {
  padding-bottom: 20px;
}

.projects li {
  padding-bottom: 15px;
}


