/* Oto Brglez - <otobrglez@gmail.com> */

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,latin-ext);

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 20px;
  padding-top: 40px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 300;
  font-size: 19px;
  color: #999;
}

a {
  color: black;
}

.body-wrap {

}

.body-wrap .wrap{
  max-width: 700px;
  margin: 0px auto;
}

.brand {
  color: #000;
  font-weight: 400;
  border: 2px solid #000;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  height: 30px;
  line-height: 30x;
  display: inline-block;
}

#header{
  font-size: 1.5em;
}

#footer{
  margin-bottom: 50px;
}

.mission {
  color: #333;
  font-size: 2.5em;
}

.mission span.wave {
  display: inline-block;
  position: relative;
}

.mission p{
}

.projects {
  font-size: 1.1em;
}

.projects h2 {
  font-size: 1.3em;
  display: inline-block;
  font-weight: normal;
  color: #9CD56A;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
}

.projects ul, .projects li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.projects ul {
  padding-bottom: 20px;
}

.projects li {
  padding-bottom: 25px;
}

.love {
  font-family: monospace;
  color: red;

}

